In [1]:
#dependencies
import pandas as pd
import numpy as np
from functools import reduce

import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy.orm import Session
from sqlalchemy import create_engine


from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
import psycopg2

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()


#variables defined
#master list of diseases, diseases from diseases list to use only select diseases
#["measles", "mumps", "hepatitis", "pertussis", "rubella", "smallpox", "polio"]
diseases = ["measles", "mumps", "hepatitis", "pertussis"]


#display diseases list
for item in diseases:
    print(item)

measles
mumps
hepatitis
pertussis

In [2]:
#declare/clear lists
DFTotalList = []
DFPerCapitaList = []

for item in diseases:
      
    #READ CSV TO DATAFRAME
    #establish csv read path
    inputPath = "dataSource/contagious-diseases/" + item + ".csv"
    #read csv
    data = pd.read_csv(inputPath) 
    #show data head
    data.head()
    #confirm data read
    print("read: " + inputPath)

    
    ###DATA BY YEAR - PER CAPITA###

    #GET YEAR FOR EACH ENTRY AND GROUPBY FOR SUM OF CASES
    #extract year from year-week date and add to new column
    data["year"] = data['week'].astype(str).str[:-2].astype(np.int64)
    #print new table with year column
    #data.head()
    #group by with sum cases per year and state_name
    dataDF = pd.DataFrame(data.groupby(["state_name", "year", "disease"])["cases"].sum())
    #rename cases total per year column to include the disease name
    #dataDF.rename(columns={"cases": item + "_casesTotalPerYear"})
    #show data head after groupby
    #dataDF.head()
    
    #WRITE DATAFRAME TO CSV
    #establish csv write path
    outputPath = "inputData/" + item + "_totalCasesPerYear.csv"
    #write csv
    dataDF.to_csv(outputPath)
    #confirm data write
    print("written: " + outputPath)   
    
    #append data to DFTotalList list
    DFTotalList.append(dataDF)
    
    
    ###DATA BY YEAR - PER CAPITA###
    
    #GET YEAR FOR EACH ENTRY AND GROUPBY FOR SUM OF CASES
    #extract year from year-week date and add to new column
    data["year"] = data['week'].astype(str).str[:-2].astype(np.int64)
    #print new table with year column
    data.head()
    #group by with sum cases per year and state_name
    dataDF = pd.DataFrame(data.groupby(["state_name", "year", "disease"])["incidence_per_capita"].mean())
    dataDF.round(5)
    #rename cases per capita column to include the disease name
    #dataDF = dataDF.rename(columns={"incidence_per_capita": item + "_casesPerCapitaPerYear"})
    #show data head after groupby
    dataDF.head()
    
    #WRITE CSV TO DATAFRAME
    #establish csv write path
    outputPath = "inputData/" + item + "_perCapitaCasesPerYear.csv"
    #write csv
    dataDF.to_csv(outputPath)
    #confirm data write
    print("written: " + outputPath + "\n") 
    
    #append data to DFPerCapitaList list
    DFPerCapitaList.append(dataDF)
    
for i in DFPerCapitaList:
    print(i.head())

read: dataSource/contagious-diseases/measles.csv
written: inputData/measles_totalCasesPerYear.csv
written: inputData/measles_perCapitaCasesPerYear.csv

read: dataSource/contagious-diseases/mumps.csv
written: inputData/mumps_totalCasesPerYear.csv
written: inputData/mumps_perCapitaCasesPerYear.csv

read: dataSource/contagious-diseases/hepatitis.csv
written: inputData/hepatitis_totalCasesPerYear.csv
written: inputData/hepatitis_perCapitaCasesPerYear.csv

read: dataSource/contagious-diseases/pertussis.csv
written: inputData/pertussis_totalCasesPerYear.csv
written: inputData/pertussis_perCapitaCasesPerYear.csv

                         incidence_per_capita
state_name year disease
ALABAMA    1928 MEASLES              6.442115
           1929 MEASLES              2.284286
           1930 MEASLES              3.019231
           1931 MEASLES              6.883469
           1932 MEASLES              0.249024
                         incidence_per_capita
state_name year disease
ALABAMA    1968 MUMPS                0.362273
           1969 MUMPS                0.185135
           1970 MUMPS                0.219608
           1971 MUMPS                0.568039
           1972 MUMPS                0.474400
                             incidence_per_capita
state_name year disease
ALABAMA    1966 HEPATITIS A              0.185600
           1967 HEPATITIS A              0.171837
           1968 HEPATITIS A              0.176538
           1969 HEPATITIS A              0.224898
           1970 HEPATITIS A              0.231373
                           incidence_per_capita
state_name year disease
ALABAMA    1938 PERTUSSIS              1.294314
           1939 PERTUSSIS              1.345769
           1940 PERTUSSIS              0.846667
           1941 PERTUSSIS              1.057451
           1942 PERTUSSIS              1.090980

In [3]:
#Concat all totalPerYear datafranes
CasesTotalPerYearConcat = pd.concat(DFTotalList)
#establish csv write path
outputPath = "inputData/mergedLists/" + "CasesTotalPerYearConcat.csv"
#write csv
CasesTotalPerYearConcat.to_csv(outputPath)
#confirm data write
print("written: " + "CasesTotalPerYearConcat" + "\n") 


#Concat all totalPerYear datafranes
CasesPerCapitaPerYearConcat = pd.concat(DFPerCapitaList)
#establish csv write path
outputPath = "inputData/mergedLists/" + "CasesPerCapitaPerYearConcat.csv"
#write csv
CasesPerCapitaPerYearConcat.to_csv(outputPath)
#confirm data write
print("written: " + "CasesPerCapitaPerYearConcat" + "\n")

written: CasesTotalPerYearConcat

written: CasesPerCapitaPerYearConcat

In [18]:
#merge into master
MasterDF = pd.merge(CasesTotalPerYearConcat, CasesPerCapitaPerYearConcat, on=["state_name", "year", "disease"])
#MasterDF
#establish csv write path
outputPath = "inputData/mergedLists/" + "MasterDF.csv"
#write csv
MasterDF.to_csv(outputPath)
#confirm data write
print("written: " + "MasterDF" + "\n")

#READ CSV AS FILE TO PUSH TO POSTGRESQL
df = pd.read_csv(outputPath)
df.head()

written: MasterDF

  state_name  year  disease  cases  incidence_per_capita
0    ALABAMA  1928  MEASLES   8843              6.442115
1    ALABAMA  1929  MEASLES   2959              2.284286
2    ALABAMA  1930  MEASLES   4156              3.019231
3    ALABAMA  1931  MEASLES   8934              6.883469
4    ALABAMA  1932  MEASLES    270              0.249024

In [19]:
#SQLAlchemy

engine = create_engine('postgres://gxxdlokrikmuew:56373f2fbd48e1486f270abfc7bb86988844e9210a50f1e66a9055d3c86d61de@ec2-107-22-238-186.compute-1.amazonaws.com:5432/da78e6ihkq1cnl', echo=False)

# Sets an object to utilize the default declarative base in SQL Alchemy

DBase = declarative_base()

class User(DBase):
    __tablename__ = 'master'
    id = Column(Integer, primary_key=True)
    state_name = Column(String(255))
    year = Column(Integer)
    disease  = Column(String(255))
    cases = Column()
    incidence_per_capita = Column()        

# reflect an existing database into a new model
#Base = automap_base()
# reflect the tables
#DBase.prepare(engine, reflect=True)
# We can view all of the classes that automap found

#write to table
df.to_sql("master", con=engine, if_exists='replace')
#MasterDF.to_sql("MasterTable", con=engine, if_exists='replace')

#with engine.connect() as con:
 #   con.execute("ALTER TABLE MasterTable ADD PRIMARY KEY (id);")
#print(DBase.classes.keys())

In [6]:
#Base = automap_base()
#Base.prepare(engine, reflect=True)
#print(Base.classes)

#session = Session(engine)
#session.query(MasterTable).all()

#conn = engine.connect()
#details = engine.execute("SELECT * from quiet-coast-48840.MasterTable")

In [26]:
#engine = create_engine('postgres://gxxdlokrikmuew:56373f2fbd48e1486f270abfc7bb86988844e9210a50f1e66a9055d3c86d61de@ec2-107-22-238-186.compute-1.amazonaws.com:5432/da78e6ihkq1cnl', echo=False)
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
df
df.to_sql("test", con=engine, if_exists='replace')

In [27]:
engine.execute("SELECT * FROM test").fetchall()

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [46]:
#a = engine.execute("SELECT * FROM master").fetchall()


engine.execute ('ALTER TABLE "master" ADD PRIMARY_KEY state_name;')

#Base = automap_base()
#Base.prepare(engine, reflect=True)
#Base.classes.keys()

#for item in a:
#    print(item)


#engine = create_engine('postgres://gxxdlokrikmuew:56373f2fbd48e1486f270abfc7bb86988844e9210a50f1e66a9055d3c86d61de@ec2-107-22-238-186.compute-1.amazonaws.com:5432/da78e6ihkq1cnl')
#Base=automap_base()
#Base.prepare(engine, reflect=True)

ProgrammingError: (psycopg2.ProgrammingError) type "state_name" does not exist
LINE 1: ALTER TABLE "master" ADD PRIMARY_KEY state_name;
                                             ^
 [SQL: 'ALTER TABLE "master" ADD PRIMARY_KEY state_name;'] (Background on this error at: http://sqlalche.me/e/f405)

In [10]:
#engine.execute('DROP TABLE mastertable;')

In [11]:
"""
from sqlalchemy import create_engine
import psycopg2 
import io

engine = create_engine('postgres://gxxdlokrikmuew:56373f2fbd48e1486f270abfc7bb86988844e9210a50f1e66a9055d3c86d61de@ec2-107-22-238-186.compute-1.amazonaws.com:5432/da78e6ihkq1cnl')

MasterDF.to_sql('MasterTable', engine, if_exists='replace',index=False) #truncates the table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
MasterDF.to_csv(output, header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'MasterTable', null="") # null values become ''
conn.commit()
"""

'from sqlalchemy import create_engine\nimport psycopg2 \nimport io\n\nengine = create_engine(\'postgres://gxxdlokrikmuew:56373f2fbd48e1486f270abfc7bb86988844e9210a50f1e66a9055d3c86d61de@ec2-107-22-238-186.compute-1.amazonaws.com:5432/da78e6ihkq1cnl\')\n\nMasterDF.to_sql(\'MasterTable\', engine, if_exists=\'replace\',index=False) #truncates the table\n\nconn = engine.raw_connection()\ncur = conn.cursor()\noutput = io.StringIO()\nMasterDF.to_csv(output, header=False, index=False)\noutput.seek(0)\ncontents = output.getvalue()\ncur.copy_from(output, \'MasterTable\', null="") # null values become \'\'\nconn.commit()'